# The exact requirements of the oldest supported versions of the dependencies.
# This file is used in a GitHub Actions workflow to test the compatibility.
# This file needs to be manually updated to be consistent with `pyproject.toml`.
hypothesis==6.88.0
black==23.10.0
graphql-core==3.2.0
pytest-asyncio==0.18.0
pytest-cov==3.0.0
pytest-timeout==2.1.0
pytest==7.0.0
