# The exact requirements of the latest versions of the dependencies. This file
# is used in a GitHub Actions workflow to test the compatibility with the
# latest versions of the dependencies. This file is monitored by Dependabot.
hypothesis==6.135.32
black==25.1.0
graphql-core==3.2.6
typing-extensions==4.14.1
pytest-asyncio==1.0.0
pytest-cov==6.2.1
pytest-timeout==2.4.0
pytest==8.4.1
