# The exact requirements of the latest versions of the dependencies. This file
# is used in a GitHub Actions workflow to test the compatibility with the
# latest versions of the dependencies. This file is monitored by Dependabot.
hypothesis==6.127.9
black==25.1.0
graphql-core==3.2.6
typing-extensions==4.12.2
pytest-asyncio==0.25.3
pytest-cov==6.0.0
pytest-timeout==2.3.1
pytest==8.3.4
